* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F5F5F5;
}

/* Navbar and Hero Section */
.nav-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightcyan; */
}

.navbar {
    width: 96vw;
    height: 128px;
    padding: 12px 80px;
    margin: 2vw;
    display: flex;
    background-color: white;
    border-radius: 99px;
    justify-content: space-between;
    align-items: center;
}

        .logo {
            font-size: 2rem;
            font-weight: 600;
        }
        .logo-dot {
            color: #5E44FF;
        }
        .nav-link {
            text-decoration: none;
            color: #000;
            margin: 16px 24px;
            font-size: 1rem;
            font-weight: 500;
        }
        .nav-link:hover {
            color: #5E44FF;
            cursor: pointer;
        }

.hero-section {
    width: 100vw;
    margin: 60px;
    /* background-color: #f0f0f0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

    .hero-badge {
        background-color: rgba(94, 68, 255, 0.1);
        color: #5E44FF;
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        /* background-color: #fff; */
    }
    .hero-title {
        /* background-color: khaki; */
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: -2%;

    }
        .hero-highlight {
            color: #5E44FF;
        }
    
        .hero-subtitle {
            /* background-color: #fff; */
            font-weight: 400;
        }

        .hero-cta {
            background-color: #000;
            color: #fff;
            padding: 16px 36px;
            border-radius: 16px;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hero-cta:hover {
            background-color: lightgrey;
            color: black;
            border: 2px solid black;
            cursor: pointer;
        }
/* Navbar and Hero Section */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5fb;
    height: 968px;
    width: 100%;
    padding: 120px 120px 140px 120px;
}

.features-card {
    width: 387px;
    height: 272px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px;
    margin: 20px;
}

.icon {
    background-color: #eff5fc;
    color: #5E44FF;
    border-radius: 16px;
    padding: 10px;
    width: 60px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.features-card.workflows {
    background-color: #D7E5F6;
;
    color: black;
}

.features-card.workflows h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 40px;
}

.features-card.workflows p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7b8293;
    margin-top: 10px;
}

.features-card.performance {
    background-color: #D8E0FC;
    color: black;
}

.features-card.performance h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 40px;
}

.features-card.performance p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7b8293;
    margin-top: 10px;
}

.features-card.interface {
    background-color: #E8DCF6;
    ;
    color: black;
}

.features-card.interface h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 40px;
}

.features-card.interface p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7b8293;
    margin-top: 10px;
}

